In [1]:
pip install simplekml

Requirement already satisfied: simplekml in /home/adwait_bhope/.local/lib/python3.8/site-packages (1.3.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import csv
import simplekml
import datetime
import pandas as pd

In [7]:
df = pd.read_csv('pole_and_line.csv')
len(df)

161315

In [8]:
df = df.sample(frac=0.01)
df.to_csv('pole_and_line_small.csv')

In [10]:
len(df)

1613

In [11]:
df.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
129256,8.703142e+13,1.470974e+09,0.000000,999.975464,0.0,32.799999,37.736897,-25.668943,-1.0,gfw
52094,1.848346e+13,1.459550e+09,15999.607422,36234.449219,9.4,229.000000,27.926254,-15.213070,-1.0,gfw
14693,1.848346e+13,1.360448e+09,0.000000,2236.013184,0.0,0.000000,28.965910,-13.539572,-1.0,gfw
142748,1.020291e+14,1.475668e+09,999.975464,28318.910156,0.0,349.700012,34.865772,138.327301,-1.0,gfw
3213,1.848346e+13,1.352265e+09,0.000000,2236.013184,0.0,165.500000,28.965940,-13.539536,-1.0,gfw

In [12]:
inputfile = csv.reader(open('pole_and_line_small.csv','r'))
next(inputfile)
fmt = "%Y-%m-%d %H:%M:%S"
kml=simplekml.Kml()
single_point = kml.newpoint(name="The World", coords=[(0.0,0.0)])

for row in inputfile:
    pnt = kml.newpoint()
    pnt.name = row[0]
    t_utc = datetime.datetime.utcfromtimestamp(float(row[1])/1000.)
    pnt.description = "Time: {0}".format(t_utc.strftime(fmt))
    pnt.coords = [(row[8], row[7])]

kml.save('pole_and_line_small.kml')